*,*::before,*::after{
    box-sizing: border-box;
}
a{

    text-decoration: none;
}

.header__box{
    
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px 12px 24px;
    width: 100%;
    height: 72px;
    background: #FFFFFF;
    border: 1.5px solid #111111;
    border-radius: 0px 0px 8px 8px;
    
}

/* .header__burger{
    display:none;
}
 @media  (max-width: 768px) {
        .header__burger{
            display:block;
    }


.header__singin{
@media (max-width 768px) {
    display:none;
    
} */
/* } */
.logo{
    display: flex;
    align-items: center;
}

.logo__text{
    margin-left: 8px;
}
.header__singin{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding-left: 14px; */
    width:183px;
    height: 48px;
    background: #4F2EE8;
    border: 1.5px solid #111111;
    border-radius: 18px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
#toggle{
    appearance: none;
    height: 20px;
    width: 40px;
    background: linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    right:230px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#toggle:after{
    content: "";
    position:absolute;
    height: 18px;
    width:18px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 100%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    top:1px;
    left:1px;
    /* background: linear-gradient(180deg, #DADADA 0%, #F0EFEF 62.92%, #FFFFFF 100%); */
    
}


.dark-theme{
    background-color: #202024;
}
.dark{
    
    background: #111111;
    border: 1.5px solid #FFFFFF;
    border-radius: 0px 0px 8px 8px;
}
.dark__icon{
    fill: #F3F3F3;
}
.dark-theme #toggle{
    background: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
 background-color: #4F2EE8;
}

.dark-theme #toggle:after{
    top:1px;
    left:21px;
   
}


 /* ------------------------------------------------------------------------------------------------------- */
.register{
    margin-left: auto;
    margin-right: auto;
    max-width: 579px;
    height: 516px;
    background: #F6F6F6;
    border: 2px solid #111111;
    border-radius: 18px;
    padding: 80px 40px 84px 40px;
}

.register__form{
    display: flex;
    flex-direction: column;
   
    gap: 28px;
    max-width:499px;
   
    }



.register__form--input::placeholder{
    text-transform: uppercase;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.33;
        
}

.register__form--thumb{
  position: relative;
  max-width: 499px;
  outline: 1px solid tomato;
}

.register__form--input {
    width: 100%;
    /* height: 64px; */
    border: 2px solid #111111;
    border-radius: 40px;
    padding: 20px 46px 20px 40px;
    background-color: #F6F6F6;
}

.register__form--icon{
    position: absolute;
    right:18px;
    top:50%;
    transform: translateY(-50%);
    fill:#F6F6F6;
    stroke: #111111;;

}

.register__form--button{
    width: 100%;
    max-width: 499px;
    /* height: 64px; */
    border: 2px solid #111111;
    border-radius: 40px;
    padding: 20px 215px 20px 215px;
    color:#F3F3F3;
    background-color: #111111;
    cursor: pointer;
    font-weight: 700;
    /* font-size: 18px; */
    line-height: 1.33;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}


/* modal------------------------------------------------------- 
*/

.backdrop{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #4F2EE8;
}

.modal{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 579px;
        height: 100%;
        max-height: 516px;
        background: #F6F6F6;
        border: 2px solid #111111;
        border-radius: 18px;
        padding: 80px 40px 84px 40px; 
}

/* categorybook */

/* .category__book{
    width: 328px;
    height: 472px;
} */

.category__book--name:not(:last-child){
    margin-bottom: 32px;
}


/* aside----------- */
.page{
    display: flex;
}

.aside{
    display: block;
        width: 356px;
        height: 472px;
        outline: 1px solid tomato;
}

.main{
    display: flex;
    margin-left: 40px;
    width:996px;
    height: 426px;
    outline:1px solid tomato;
}


